<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.dao.IDeptDao">
	<sql id="getAll">
		select * from dept
	</sql>

	<select id="getAllDept" resultType="dept">
		<include refid="getAll"></include>
	</select>
</mapper>